@import '~@fluentui/react/dist/sass/References.scss';

.mgtToDo {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

// This style if for the section title and displays a text and a line after it
.sectionTitle {
  width:100%;
  text-align:left;
  border-bottom: 1px solid #383838;
  line-height:0.1em;
  margin:10px 0 20px;
  padding-top: 15px;
}

.sectionTitle span {
  background:#fff;
  padding:0 10px;
}