.container {
  padding: 20px;

  table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #881798;
    border-style: solid;
    color: #000000;
  }

  table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #881798;
    border-style: solid;
    padding: 5px;
  }

  table.customTable thead {
    background-color: #881798;
    color: #FFFFFF;
  }
}