@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow Regular'), 
      local('Barlow-Regular'),
      url(../../../styles/fonts/Barlow-Regular.ttf) format('truetype');
}
