@import '~@fluentui/react/dist/sass/References.scss';

.approvalsManagement {
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
}

.tableSettings {
  display: "flex";
  justify-content: "space-between";
  margin: 10px;
}