@import '~@fluentui/react/dist/sass/References.scss';

.pnPProgressSample {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contentText {
      width: 70%;
      text-align: center;
    }
  }
}
