@import '~@fluentui/react/dist/sass/References.scss';

.stylingMgt {
  overflow: hidden;
  padding: 1em;
  //color: "[theme:bodyText, default: #323130]";
  // color: var(--bodyText);
  // background-color: var(--bodyBackground);
  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}
