@import '~@fluentui/react/dist/sass/References.scss';

.storageSample {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 150px;
}