@import '~@fluentui/react/dist/sass/References.scss';

.searchWebPart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.searchContainer {
  display: flex;
}

.searchButton {
  margin-left: 10px;
}