@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), 
      local('Oxygen-Regular'),
      url(../../../styles/fonts/Oxygen-Regular.ttf) format('truetype');
}